#empty{
    height: 75px;
    width: 500px;
    background-color: black;
}

#posted{
    height: 40px;
    width: 500px;
    background-color: palevioletred;
}

#gray-and-logo-holder{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#app{
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 600px;
    width: 960px;

}

#story{
    display: flex;
    flex-direction: row;
    background-color: green;
    justify-content: space-between;

}

.bottom-pictures{
    height: 120px;
    width: 115px;
}

#logo{
    height: 150px;
    width: 185px;
}


/* This is the yellow box */
#container{
    background-color: yellow;
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* margin-top: 50px; */
}


/* this is the blue box */
#bio{
    background-color: blue;
    height: 210px;
    width: 569px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* This is the gray box */
#top{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
}

#button{
    height: 70px;
    width: 200px;
}

#checky{
    height: 50px;
}

#instaword{
    font-size: 50px;
}

#bringing-heart{
    display: flex;
    justify-content: space-between; 
}

#blue-bio-holder{
    display: flex;
    justify-content: flex-end;
}

#yellow-container-holder{
    display: flex;
    justify-content: flex-end;
}