#help-instagram-text{
    padding-top: 5px;
}

#bringing-closer{
    padding-top: 15px;
}

#instaword-holder{
    height: 45px;
}

#front-space{
    width: 5%;
}

#back-space{
    width: 5%;
}

#empty{
    height: 40px;
    width: 500px;
    background-color: black;
}

#posted{
    /* height: 90px; */
    width: 500px;
    background-color: #FBFBFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gray-and-logo-holder{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#app{
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    height: 600px;
    width: 960px;
    justify-content: flex-end;
    padding-bottom: 40px;

}

#story{
    display: flex;
    flex-direction: row;
    background-color: #FAFAFA;
    justify-content: space-between;

}

.bottom-pictures{
    height: 120px;
    width: 115px;
}

#logo{
    height: 150px;
    width: 185px;
}


/* This is the yellow box */
#container{
    background-color: #FBFBFB;
    height: 80px;
    width: 270px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-top: 50px; */
}


/* this is the blue box */
#bio{
    background-color: #FAFAFA;
    /* height: 210px; */
    height: 170px;
    width: 569px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* This is the gray box */
#top{
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
}

#button{
    height: 40px;
    width: 100px;
}

#checky{
    height: 30px;
}

#instaword{
    font-size: 30px;
}

#bringing-heart{
    display: flex;
    /* justify-content: space-between;  */
}

#blue-bio-holder{
    display: flex;
    justify-content: flex-end;
}

#yellow-container-holder{
    display: flex;
    justify-content: flex-start;
}

h3{
    font-size: 20px;
    padding-top: 15px;
}

#help-instagram{
    color: #003569;
    font-size: 20px;
}

#kevin{
    font-size: 13px;
    /* height: 25px; */
    padding-top: 10px;
}