#app{
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 500px;
    width: 900px;

}

#story{
    display: flex;
    flex-direction: row;
    background-color: green;
    justify-content: space-around;

}

.bottom-pictures{
    height: 40px;
}

#logo{
    height: 150px;
    width: 185px;
}

.logo-image{
    height: 150px;
    width: 185px;
    display: flex;
    justify-content: center;
    background-color: aqua;
}



/* This is the yellow box */
#container{
    background-color: yellow;
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/* this is the blue box */
#bio{
    background-color: blue;
    height: 210px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* This is the gray box */
#top{
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
}

#button{
    height: 70px;
    width: 200px;
}

#checky{
    height: 50px;
}

#instaword{
    font-size: 50px;
}

#bringing-heart{
    display: flex;
    justify-content: space-between; 
}

#blue-bio-holder{
    display: flex;
    justify-content: flex-end;
}

#yellow-container-holder{
    display: flex;
    justify-content: flex-end;
}